<p id="notice"><%= notice %></p>


<font color="green"><center><h1>Livraria da Sheila</h1></center></fonte>

<font color="black">
<br>
<br>
<center>
<font color="gray">
<table border=1 cellspacing=5>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Autor</th>
      <th>Páginas</th>
      <th>Editora</th>
      <th>Avaliação</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @livraria.each do |livrarium| %>
      <tr>
        <td><%= livrarium.Titulo %></td>
        <td><%= livrarium.Autor %></td>
        <td><%= livrarium.Páginas %></td>
        <td><%= livrarium.Editora %></td>
        <td><%= livrarium.Avaliação %></td>
        <td><%= link_to 'Ver', livrarium %></td>
        <td><%= link_to 'Editar', edit_livrarium_path(livrarium) %></td>
        <td><%= link_to 'Deletar', livrarium, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</fonte>
</center>

<br>
</fonte>
<center>
<%= link_to 'Adicionar novo livro', new_livrarium_path %>
</center>



