<center>

<font color="#8B4513"><center><h1>Livraria da Sheila</h1></center></fonte>

<br>
<br>

<font color="gray">
<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @livrarium.Titulo %>
</p>


<p>
  <strong>Autor:</strong>
  <%= @livrarium.Autor %>
</p>

<p>
  <strong>Páginas:</strong>
  <%= @livrarium.Páginas %>
</p>

<p>
  <strong>Editora:</strong>
  <%= @livrarium.Editora %>
</p>

<p>
  <strong>Avaliação:</strong>
  <%= @livrarium.Avaliação %>
</p>

<%= link_to 'Editar', edit_livrarium_path(@livrarium) %> |
<%= link_to 'Voltar', livraria_path %>
</fonte>
</center>

<p>
<center>
<%= image_tag("livrocerto.PNG", :alt => "imagem") %>
</center>
</p>

