<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @livrarium.Titulo %>
</p>

<p>
  <strong>Autor:</strong>
  <%= @livrarium.Autor %>
</p>

<p>
  <strong>Páginas:</strong>
  <%= @livrarium.Páginas %>
</p>

<p>
  <strong>Editora:</strong>
  <%= @livrarium.Editora %>
</p>

<p>
  <strong>Avaliação:</strong>
  <%= @livrarium.Avaliação %>
</p>

<%= link_to 'Edit', edit_livrarium_path(@livrarium) %> |
<%= link_to 'Back', livraria_path %>
